/* Your styles here */
body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  background-color: #e8edee;
}

main a {
  color: #076e77;
  text-decoration: none;
}
main {
  padding-block: 30px;
  margin-inline: 20px;
}
#a {
  background-color: #222f3f;
}
#logo {
  width: 150px;
  padding-left: 30px;
  padding-top: 20px;
}
nav {
  background-color: #364759;
  text-align: left;
}
#toolbar h4 {
  display: inline-block;
  font-size: 17px;

  padding: 10px 0 10px 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
article {
  padding: 20px;
}
#shopgift {
  background-color: #f56600;
  width: 100%;
  text-align: center;
  padding: 10px;
}
#shopgift p {
  color: white;
}
#intestazione {
  background-image: url(images/bg-image.png);
  padding: 20px;
  text-align: center;
  color: white;
  margin-inline: 20px;
}
h1 {
  font-size: 30px;
}

#immagini {
  background-color: white;
  text-align: center;
}
#immagini img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
#immagini h4 {
  width: 100%;
  text-align: left;
  padding: 20px;
}
.card {
  width: 20%;
  height: 330px;
  display: inline-block;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 7px 5px 15px -3px rgba(0, 0, 0, 0.43);
}

#img5 {
  width: 100%;
  margin-top: 20px;
}
#img6 {
  width: 100%;
  margin-top: 20px;
}
#int1 {
  text-align: center;
}
#int2 {
  text-align: center;
}
#int3 {
  text-align: center;
  margin-bottom: 10px;
}

#backtop {
  text-align: center;
  background-color: #364759;
  color: white;
  padding: 20px;
}
#backtop a {
  color: white;
  padding: 10px;
  text-decoration: underline;
}

footer {
  text-align: center;
  background-color: #222f3f;
}

#logo2 {
  width: 180px;
  margin-top: 50px;
  margin-bottom: 50px;
}
